body {
  font-family: 'Roboto', sans-serif;
}
.wrap {
  max-width: 970px;
  height: auto;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::-moz-selection {
  color: #000000;
  background: #32a6e0;
  text-shadow: 0 0 10px #000;
}
*::selection {
  color: #000000;
  background: #32a6e0;
  text-shadow: 0 0 10px #000;
}
body {
  background-color: #e6e6e6;
}
h2 {
  margin: 40px 0;
  padding: 10px 0;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.lang {
  width: 40px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 40px;
}
.lang a {
  color: #000;
  text-decoration: none;
}
.lang img {
  width: 40px;
}
.lang span {
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}
.lang:hover span {
  color: #32a6e0;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
header {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
header figure {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: -80px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 rgba(0, 0, 0, 0);
}
header figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header figure figcaption {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-transition: .3s;
  transition: .3s;
}
header figure:hover figcaption {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
header figure:hover .overlay {
  top: 0;
}
header figure .overlay {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
header h2 {
  margin: 0;
  color: #32a6e0;
  font-size: 30px;
  font-weight: normal;
}
.about {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.about p {
  margin-top: 20px;
  word-spacing: 10px;
  font-size: 18px;
  font-weight: normal;
}
.about p:first-letter {
  padding-left: 20px;
}
.about p:nth-of-type(1) {
  margin-top: 0px;
}
.skills {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.skills .item_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  aling-items: center;
}
.skills .item_container .item {
  width: 95px;
  height: 95px;
  margin: 0px 20px 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.skills .item_container .item figure {
  margin: 0;
}
.skills .item_container .item figure img {
  width: 95px;
  height: 95px;
}
.skills .item_container .item p {
  color: #aaa;
  font-size: 16px;
  font-weight: normal;
}
.works {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.works .item_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  aling-items: flex-start;
}
.works .item_container .item {
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.works .item_container .item a {
  text-decoration: none;
}
.works .item_container .item figure {
  margin: 0;
}
.works .item_container .item figure img {
  width: 100%;
  height: auto;
  padding: 0;
}
.works .item_container .item figure figcaption {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.8);
  text-align: center;
  position: absolute;
  bottom: -105px;
  -webkit-transition: 0.4s cubic-bezier(0, 1.98, 0.65, 2.16);
  transition: 0.4s cubic-bezier(0, 1.98, 0.65, 2.16);
  font-size: 20px;
  font-weight: normal;
}
.works .item_container .item:nth-last-of-type(1) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}
.works .item_container .item:nth-last-of-type(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}
.works .item_container .item:hover figcaption {
  bottom: -50px;
}
.job {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.job .wrap {
  position: relative;
}
.job .text_container {
  width: 100%;
  height: auto;
}
.job .text_container h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #32a6e0;
}
.job .text_container h3 {
  font-size: 16px;
  font-weight: bold;
}
.job .text_container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}
.job .date_container {
  color: #aaa;
  position: absolute;
  top: 103px;
  right: 0;
  font-size: 12px;
  font-weight: normal;
}
.contacts {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.contacts .contacts_container .links {
  margin-bottom: 20px;
  margin-right: 50px;
}
.contacts .contacts_container .links p {
  margin: 15px 0;
  font-size: 18px;
  font-weight: normal;
}
.contacts .contacts_container .links p a {
  color: #32a6e0;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}
.contacts .contacts_container .links p a:hover {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
.contacts .contacts_container .link_to {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.contacts .contacts_container .link_to a {
  margin: 11px 0;
  color: #32a6e0;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: .3s;
  transition: .3s;
}
.contacts .contacts_container .link_to a:hover {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
.contacts form {
  width: 400px;
  margin: 0 auto;
}
.contacts form input,
.contacts form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px;
  color: #333;
  background-color: #EDEDED;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}
.contacts form input:active,
.contacts form button:active,
.contacts form input:focus,
.contacts form button:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.contacts form input:hover,
.contacts form button:hover {
  color: #000;
}
.contacts form button {
  margin-bottom: 30px;
  color: #fff;
  background-color: #32a6e0;
  -webkit-transition: .3s;
  transition: .3s;
}
.contacts form button:hover {
  color: #eee;
  background-color: #29a2df;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.contacts form button:active {
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
.contacts form textarea {
  width: 100%;
  margin-top: 30px;
  padding: 10px 15px;
  color: #333;
  background-color: #EDEDED;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}
.contacts form textarea:active,
.contacts form textarea:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.contacts form textarea:hover {
  color: #000;
}
@media screen and (max-width: 970px) {
  .about p,
  .contacts p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .job .date_container {
    padding-right: 50px;
  }
  .job .text_container h2,
  .job .text_container h3 {
    padding-left: 50px;
  }
  .job .text_container p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .job .text_container p:first-letter {
    padding-left: 20px;
  }
  .contacts_container .link_to {
    padding: 0 50px;
  }
}
@media screen and (max-width: 910px) {
  .skills .item_container {
    padding-left: 0;
  }
  .skills .item_container .item {
    margin: 50px 0 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
  .works .item_container {
    padding-left: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .works .item_container .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
  }
  .works .item_container .item:nth-last-of-type(1),
  .works .item_container .item:nth-last-of-type(2) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
  }
}
@media screen and (max-width: 460px) {
  .about p {
    padding: 0 20px;
  }
  .job .date_container {
    display: none;
  }
  .job .text_container h2,
  .job .text_container h3 {
    padding: 0 20px;
  }
  .job .text_container p {
    padding: 0 20px;
  }
  .contacts .contacts_container .links p {
    padding: 0 20px;
  }
  .contacts .contacts_container .links p a {
    width: 100%;
    padding: 20px 0;
    display: block;
  }
  .contacts .contacts_container .link_to {
    padding: 0 20px;
  }
  .contacts form {
    width: 100%;
  }
  .contacts form input {
    width: 100%;
    margin-left: 0;
  }
  .contacts form textarea {
    width: 100%;
    margin-left: 0;
  }
  .contacts form button {
    width: 100%;
    margin-left: 0;
  }
  form {
    padding: 0 20px;
  }
}
